#cs1300-gallery {
  background-color: pink;
}

/* Uncomment below if images are way too big.
Selects all image tags and makes them 500px;
 */
img {
 width: 400px;
}

.gallery-container {
  flex-direction: row;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
